{% extends "layout_dwp.html" %}

{% set serviceName = 'Design Patterns' %}

{% block page_title %}
  DWP {{ serviceName }}
{% endblock %}

{% block content %}

  <main id="content" role="main">
    <h1 class="heading-xlarge">Design Patterns at DWP</h1>
    
    <h2 class="heading-large">Elements</h2>
    <p>Elements are the smallest standardised parts of design and include:</p>
    <ul class="list-bullet">
        <li>what fonts we use where</li>
        <li>colours we can use</li>
        <li>our headers and footers</li>
        <li>banners</li>
        <li>what buttons, checkboxes and other interactions look like</li>
    </ul>
    <p>They generally will change rarely and usually centrally from Government Digital Service.</p>
    <p>The vast majority of elements we use are <a href="http://govuk-elements.herokuapp.com/">GOV.UK elements</a> but there are a few unique DWP elements.</p>
    <p>See the <a href="http://dwp-elements.herokuapp.com/">DWP elements</a>.</p>
    
    <h2 class="heading-large">Pages and components</h2>
    <p>When elements are combined to present content designed for a distinct purpose they become components. These could be whole pages of a transaction, or parts of pages.</p>
    <p>Examples would be how we:</p>
    <ul class="list-bullet">
        <li>tell someone they've made a mistake</li>
        <li>warn someone they need to do something</li>
        <li>let people create a list of things</li>
        <li>show legal information</li>
        <li>let people enter an address</li>
    </ul>

    <p>The component or page pattern not only covers the standard presentation but also how common content should be worded.</p>

    <p>Our component and page patterns build on <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns">GOV.UK patterns</a> and are validated through user research.</p>
    <p>They may change if there are updates to things such as the GOV.UK style guide.</p>
    <p><a href="http://dwp-patterns.herokuapp.com/">See the DWP component design patterns</a></p>
    
    <h2 class="heading-large">Interactions</h2>
    <p>Ineractions combine components and pages to give a discrete user experience. One way to test if something is an interaction is to see if it meets a whole user story or need in itself.</p>
    <p>An example would be: "as a user I need to give my correct address so that I'll receive the things I need from DWP". This could include all the following components:</p>
    <ul class="list-bullet">
        <li>enter your own, valid postcode into a look-up</li>
        <li>validate a postcode and warn of any errors</li>
        <li>select from a pre-populated list (of addresses)</li>
        <li>change an address manually</li>
    </ul>
    <p>Interactions are often the focus of user research 'topic guides'. They may change relatively frequently as iterations of components and content gradually improve the user experience.</p>
    <p><a href="https://ixd-patterns.herokuapp.com/">See the DWP Interaction Design Patterns</a></p>
    
    <h2 class="heading-large">Services</h2>
    <p>Service patterns are transactions between DWP and its users that could apply to more than one service across the DWP portfolio.</p>
    <p>A service pattern could be operational (involving DWP staff) or technical, or have elements of both. Digital interactions (or a group of them) will usually make up part of the service pattern, but a service pattern also includes what happens before and after user interactions.</p>
    <p>Examples could be:</p>
    <ul class="list-bullet">
        <li>the help we offer to assisted digital customers</li>
        <li>how user data is received and stored by DWP</li>
        <li>communicating with people by email or text message</li>
        <li>sending, storing and using customer documents</li>
        <li>getting customers' consent to contact third parties</li>
    </ul>
    <p>We'll be establishing service patterns as more DWP services go live and we learn more about what's needed.</p>
    <p>As well as iterating through user research, analysis and feedback, service patterns could change if legislation changes.</p>
    <p><a href="servicePatterns">DWP Service Design Patterns</a> (this doesn't exist yet)</p>
    
  </main>

{% endblock %}
